# Python-specific
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.env/
.venv/

# OS-specific
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# IDE/Editor-specific
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
*.swp
*.log
